<table class="table table-hover table-striped details-table history-tab-table" id="hash_tag_table">
  <thead>
    <tr>
      <th class="action">Tag Name</th>
      <th class="action">Taged Coin</th>
      <th class="action">Taged User</th>
      <th>Sent At</th>
      <th>Total Amount</th>
      <th class="action">CoinSpark Address</th>
      <!-- <th>Total Amount</th> -->
      <th class="action">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @hash_tags_details.each do |hash_tag|%>
      <tr>
        <td><%= hash_tag["TagName"]%></td>
        <td><%= set_tag(hash_tag["coinTypeObjectID"])%></td>
        <td><%= hash_tag["UserName"]%></td>
        <td><%= (hash_tag["createdAt"]).to_time.strftime("%b %d %Y")%></td>
        <td><%= hash_tag["totalAmountPoints"]%></td>
        <td><%= find_user(hash_tag["userID"]) rescue nil%></td>
        <!-- <td></td> -->
        <td>
          <%= link_to "Edit",edit_tag_path(hash_tag["objectId"]),class: "btn edit-btn"%>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>