<div class="container">
	<h3>Coin</h3>
	<p>
		<strong>ObjectId:</strong>
		<%= @coin["objectId"]%>
	</p>
	<p>
		<strong>coinTypeObjectID:</strong>
		<%= @coin["coinTypeObjectID"]%>
	</p>
	<p>
		<strong>cointTypeName:</strong>
		<%= @coin["cointTypeName"]%>
	</p>
	<p>
		<strong>userID:</strong>
		<%= @coin["userID"]%>
	</p>
	<p>
		<strong>creatorID:</strong>
		<%= @coin["creatorID"]%>
	</p>
	<p>
		<strong>expiryDate:</strong>
		<%= (@coin["expiryDate"]).to_time.strftime("%d %b %Y")%>
	</p>
	<p>
		<strong>isPossibleTrade:</strong>
		<%= @coin["isPossibleTrade"]%>
	</p>
	<p>
		<strong>isCustomCoin:</strong>
		<%= @coin["isCustomCoin"]%>
	</p>
	<p>
		<strong>totalAmountPoints:</strong>
		<%= @coin["totalAmountPoints"]%>
	</p>
	<p>
		<strong>imgQrCodeUrl:</strong><br>
		<%= image_tag @coin["imgQrCodeUrl"],style: "width:20%"%>
	</p><br>
	<%= link_to "Dashboard",dashboard_path,class: "btn btn-warning"%>
</div>
<br><br>